@media only screen and (max-width:1200px){
    header{
        height: 65vh;
    }
}


@media only screen and (max-width:1024px){
    .row{
        margin: 0 1.5rem;
    }
    .hero-text-box{
        width: 100%;
    }
    .main-nav{
        display: none;
    }
    html{
        font-size: 57.5%;
    }
    .clint-photo {
        width: 100%;
        float: none;
        text-align: center;
    }
    .clint-review {
        width: 100%;
        float: none;
        text-align: center;
    }
    .clint-photo img {
        height: 15rem;
    }
    .contract-section form {
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width:768px){
    .span_1_of_4{
        width: 49.2%;
    }
    .span_1_of_4:nth-child(3){
        margin-left: 0;
    }
    html{
        font-size: 62.5%;
    }
    h1{
        font-size: 3.2rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    .box p {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width:480px){
    .little-description {
        width: 100%;
        margin-left: 0%;
        font-size: 2rem;
    }
    .span_1_of_4 {
        width: 100%;
    }
    h1 {
        font-size: 3rem;
        margin: 6rem 2rem 0 2rem;
    }
    h2 {
        font-size: 3rem;
    }
    header {
        height: 50vh;
    }
}


